html body {
  box-sizing: border-box;
  margin: 0px;
  padding: 50px;
  background-color: black;
  background-image: url('background.png');
  background-position: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 50px;
  filter: invert(1);
}

nav li {
  display: flex;
  text-decoration: none;
  padding: 30px;
}

.blog-content {
  display: flex;
  justify-content: space-between;
  gap: 20vw;
  margin: 10vh ovw;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

footer li {
  display: flex;
  text-decoration: none;
  padding: 30px;
}
